.description{
  width: 600px;
  background-color:#FCFAFA;
  border-radius: 10px 10px;
  /* height: 200px; */
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 250px;
  margin-right: 10px;
  background-color:#FAF5F3;
  border-radius: 10px 10px;
}

.right {
  width: 600px;
  background-color:#FCFAFA;
  border-radius: 10px 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  margin: auto;
  width: 80%;
}

.window {
  padding: 2px;
  width: 30%;
  background: #4358C3;
  color: white;
  /* height: 300px; */
  margin-top: 100px;
  margin-left: 100px;
  border-radius: 10px 10px;
  min-width: 290px;
}

.window-del {
  padding: 2px;
  width: 30%;
  background: #4358C3;
  color: white;
  margin-top: 100px;
  margin-left: 100px;
  border-radius: 10px 10px;
  min-width: 290px;
}

.btn-google {
  margin: auto;
  width: 40%;
  /* border: 3px solid #73AD21; */
  padding: 4px;

}

.link{
  float: right;
}
.btn-google:hover {

  background-color: #9ab6e2;
}


.window-google {
  padding: 2px;
  width: 30%;
  text-align: center;
  background: #4358C3;
  color: white;
  margin-top: 100px;
  margin-left: 35%;
  /* margin-bottom: 100px; */
  border-radius: 10px 10px;
  min-width: 290px;
}

.window-new {
  padding: 2px;
  width: 40%;
  background: #4358C3;
  color: white;
  margin-top: 10px;
  margin-left: 100px;
  border-radius: 10px 10px;
  min-width: 290px;
}




.header1 {
  padding: 2px;
  text-align: center;
  background: #4358C3;
  color: white;
  font-size: 30px;
  border-radius: 10px 10px;
}

.header2 {
  margin-top: 25px;

}


body  {
  background-image: url("/static/sport.jpg");

}

font {
  font-size: 18px;
}

.btn {
	padding: 10px;
	margin: 0;
	border-color: #5192E7;
	border-width: 2px;
	color: #FFFFFF;
  background-color: #3F8BEE;
}

.btn:hover {

  background-color: #2E77D7;
}

.btn-size{
  width: 5em;
}

.flash {
	background-color: #98FB98;
	width:100%;
	text-decoration: none;
}


.no-line {
  text-decoration: none;
  color: #DB5237;
}

.no-line:hover {
  text-decoration: underline;
  color: #DB5237;
}

.color {
  color: #A3A09F;
}

.line {
  line-height: 20px;
}

.text-center {
  text-align: center;
}

.margin-left {
  margin-top: 70px;
  margin-left: 30px;
}

.margin-btn {
  margin-top: 70px;
  margin-left: 30px;
}

.margin-cancel {
  margin-top: 0px;
  margin-left: 100px;
}

.home {
  color: white;
}

.desc {
  line-height: 2em;
  margin-left: 10px;
  font-size: 1.5em;
  font-family:serif;
}

.margin-desc {
  overflow-wrap: break-word;
  margin-left: 10px;

}

textarea {
  resize: none;
  min-width: 20em;
  max-width: 100em;
  width: 95%;
}

.margin-top {
  margin-top: 54px;

}

.margin-login{
  text-align: right;
  }
