body  {
  background-image: url("/static/sport.jpg");
}

font {
  font-size: 18px;
}

textarea {
  resize: none;
  min-width: 20em;
  max-width: 100em;
  width: 95%;
}

.btn {
	padding: 10px;
	margin: 0;
	border-color: #5192E7;
	border-width: 2px;
	color: #FFFFFF;
  background-color: #3F8BEE;
}

.btn:hover {
  background-color: #2E77D7;
}

.btn-google {
  margin: auto;
  width: 40%;
  padding: 4px;
}

.btn-google:hover {
  background-color: #1f54a8;
}

.btn-size {
  width: 5em;
}

.center {
  margin: auto;
  width: 80%;
}

.color {
  color: #A3A09F;
}

.column {
  float: left;
  padding: 10px;
}

.desc {
  line-height: 2em;
  margin-left: 10px;
  font-size: 1.5em;
  font-family:serif;
}

.description {
  width: 600px;
  background-color:#FCFAFA;
  border-radius: 10px 10px;
}

.flash {
	background-color: #98FB98;
	width:100%;
	text-decoration: none;
}

.float-left {
  float: left;
}

.header1 {
  padding: 2px;
  text-align: center;
  background: #4358C3;
  color: white;
  font-size: 20px;
  border-radius: 10px 10px;
}

.header2 {
  margin-top: 25px;
}

.home {
  color: white;
}

.home-left {
  width: 50px;
}

.left {
  width: 250px;
  margin-right: 10px;
  background-color:#FAF5F3;
  border-radius: 10px 10px;
}

.line {
  line-height: 20px;
}

.link {
  float: right;
}

.log-right {
  text-align: right;
  position: relative;
  float: right;
}

.margin-btn {
  margin-top: 70px;
  margin-left: 30px;
}

.margin-cancel {
  margin-top: 0px;
  margin-left: 100px;
}

.margin-desc {
  overflow-wrap: break-word;
  margin-left: 10px;
}

.margin-left {
  margin-top: 70px;
  margin-left: 30px;
}

.margin-top {
  margin-top: 54px;
}

.no-line {
  text-decoration: none;
  color: #DB5237;
}

.no-line:hover {
  text-decoration: underline;
  color: #DB5237;
}

.right {
  width: 600px;
  background-color:#FCFAFA;
  border-radius: 10px 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.text-center {
  text-align: center;
}

.window {
  padding: 2px;
  width: 30%;
  background: #4358C3;
  color: white;
  margin-top: 100px;
  margin-left: 100px;
  border-radius: 10px 10px;
  min-width: 290px;
}

.window-del {
  padding: 2px;
  width: 30%;
  background: #4358C3;
  color: white;
  margin-top: 100px;
  margin-left: 100px;
  border-radius: 10px 10px;
  min-width: 290px;
}

.window-google {
  padding: 2px;
  width: 30%;
  text-align: center;
  background: #4358C3;
  color: white;
  margin-top: 100px;
  margin-left: 35%;
  border-radius: 10px 10px;
  min-width: 290px;
}

.window-new {
  padding: 2px;
  width: 40%;
  background: #4358C3;
  color: white;
  margin-top: 10px;
  margin-left: 100px;
  border-radius: 10px 10px;
  min-width: 290px;
}
