{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class = "flash">
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
  <div class="row center header2">
    <div class="column left" style="background-color:#FAF5F3;">
      <a href="{{url_for('newCategory')}}"><p>Add New Category</p></a>
      <h2>Categories</h2>
      {% for category in categories %}
        <a class="no-line" href = "{{url_for('showItem', category_id = category.id)}}">
        <font>{{category.name}}</font>
        </a>
        <a href = "{{url_for('editCategory', category_id = category.id)}}">
          <em>&nbsp;&nbsp;Edit</em></a>
        <a href = "{{url_for('deleteCategory', category_id = category.id)}}">
          <em>&nbsp;Delete</em></a>
          <br>
      {% endfor %}
    </div>
    <div class="column right" style="background-color:#FCFAFA;">
      <br><br>
      <h2 class="line">Latest Items</h2>
      {% for latest_item in latest_items %}
      <a class="no-line"href = "{{url_for('showItem', category_id = latest_item.category_id)}}">
      <font>{{latest_item.name}}</font></a>
      <font class="color">&nbsp;(<em>{{latest_item.category.name}})</em></font>
      <br>
      {% endfor %}
    </div>
  </div>
{% endblock %}
