{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row center header2">
  <div class="column left">
    <h2 class="line">Categories</h2>
    {% for category in categories %}
      <a class="no-line" href = "{{url_for('showItem', category_id = category.id)}}">
      <font>{{category.name}}</font></a><br>
    {% endfor %}
  </div>

  <div class="row column right" style="background-color:#FCFAFA;">
    <div class="float-left">
      <h2 class="line">{{categoryOne.name}} Items ( {{items|length}} items )</h2>
      {% for item in items %}
        <a class="no-line"href = "{{url_for('description', category_id = item.category_id, item_id = item.id)}}">
        <font>{{item.name}}</font></a>
        <br>
      {% endfor %}
    </div>

    <div class= "log-right">
      <figure>
				<img src="{{ creator.picture}}" width="100">
        <br><div style ="text-align:center; font-size:0.8em"><em>Created by:</em></div>
				<figcaption style ="text-align:center">{{ creator.name }}</figcaption>
			</figure>
    </div>
  </div>
</div>

{% endblock %}
