<div class = "flash">
		{% with messages = get_flashed_messages() %}
      	{% if messages %}
        <ul style="list-style: none;">
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
  <div class="row center header2">
    <div class="column left" style="background-color:#FAF5F3;">
      <a href="{{url_for('newCategory')}}"><p>Add New Category</p></a>
      <h2>Categories</h2>
      {% for category in categories %}
        <a class="no-line" href = "{{url_for('showItem', category_id = category.id)}}">
        <font>{{category.name}}</font>
        </a>&nbsp;&nbsp;
        <a href = "{{url_for('editCategory', category_id = category.id)}}">
          <em>Edit</em></a>&nbsp;
        <a href = "{{url_for('deleteCategory', category_id = category.id)}}">
          <em>Delete</em></a>
          <br>
      {% endfor %}
      </div>
